@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the XCaliber Project</h1>
    <br/>
    <form>
        <button>View Data</button>
        <button>Upload Data</button>
        <button>Submit Form</button>
        <button>Export Data</button>

    </form>
    <br/>
    <p>Click here to goto the <a href="https://github.com/Mswekzin/XCaliberProject">Project Location</a>.</p>
</div>
